body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
}

#header {
	position:absolute;
	top:10px;
	right:10px;
	display:inline;
}

#header-text {
	display:inline;
}

#header-twitter {
	float:right;
	margin-right:20px;
}

#bottom-left {
	float:left;
}

#bottom-right {
	float:right;
	margin-right:10px;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

#header-title {
	text-align:center;
}

.bar {
	fill:steelblue;
	opacity:1
}

.gray {
	opacity:.3;
}

.chart {
	display:inline-block;
	margin-top:20px;
}

#main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height:750px;
}

.range-div {
	font-size:12px;
	text-align:left;
}

.title-div {
	text-align:left;
}

.reset{
	padding-left:5px;
	color:steelblue;
	cursor:pointer;
	opacity:.3;
}

.arc {
	cursor:pointer;
}

.selected {
	stroke:black;
	stroke-width:3px;
}

#date-div {
	margin-top:0px;
}


#bottom {
	position:fixed;
	width:100%;
	bottom:0px;
	border-top:solid #d3d3d3 1px;
	text-align:center;
	background:white;
	font-size:10px;
	padding:5px;
	margin-right:10px;
}